/* Start of Navigation bar */
h1,h2{
    font-weight: bold;
}
.topnav {
    background-color: #F8B195;
    overflow: auto;
    width: 100%;
  }
  
  .nav-button {
    float: right;
    border-radius: 17px;
    text-transform: uppercase;
    background: #8e6656;
    box-shadow: 0 0 25px 0 rgba(137, 114, 97, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 180px;
    height: 55px;
    padding: 15px;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-right: 18px;
    margin-top: 10px;
    border: 0;
    font-weight: bold;
  }
  
  .nav-button:hover {
    background: #f2f2f2;
    color: black;
    text-decoration: underline;
  }
  
  .page-header {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    text-decoration-thickness: 200px;
    margin:10px;
  }
/* End of navigation bar */


/* Start of Header section on page */
h1 {
    text-align: center;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #355c7d;
}

.add-button {
    float: right;
    border-radius: 17px;
    text-transform: uppercase;
    background: #735445;
    box-shadow: 0 0 25px 0 rgba(137, 114, 97, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 75px;
    height: 45px;
    padding: 12px;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    font-weight: bold;
} 

.add-button:hover {
    background: #feb599;
    text-decoration: underline;
}

col {
    display: inline;
}

.search-box {
    text-align: center;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    position: left;
    font-size: 22px; 
}

.search-box:focus {
    border: 4px solid #555;
}

.search-button {
    border-radius: 10px;
    padding: 10px;
    background: #f8b195bd;
    margin-right: 5px;
    border: 1;
    border-color: #8e665652;
}

.search-button:hover {
    background:#ffffff;
    border-color: #8e665652;
}

.refresh-button {
    border-radius: 10px;
    padding: 10px;
    background: #f8b195bd;
    margin-right: 5px;
    border: 1;
    border-color: #8e665652;
}

.refresh-button:hover {
    background:#ffffff;
    border-color: #8e665652;
}
/* End of Header section on page */


/* Start of Add Contacts Form */
.modal-body{
    text-align: center;
}

form{
    text-align: center;
}

.header{
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ; 
    padding-left: 59px; 
  }

  .floating-label {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;   
    font-weight: bold; 
  }
  
  input:focus {
    border: 5px solid #555;
  } 
  
  .inputText {
    border-radius: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    background: #f2f2f2;
    width: 75%;
    height: 55px;
    margin-bottom: 18px;
    margin-top: 25px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: solid; 
    position: relative;
  }
/* End of Add Contacts Form */


/* Start of table formatting */
.card{
    --bs-card-cap-color: #355c7d;
    --bs-card-bg: rgba(255, 255, 255, 0.137);
    --bs-card-cap-bg: white;

}
.col-override{
    text-align: left;
}

.col{
    text-align: center;
}

/* Max width of table for large screens */
@media screen and (min-width: 2500px){
    .wrapper {
        text-align: center;
        width: min(2400px, 100% - 3rem);
        /* height: min(100px, 100% - 3rem); */
        margin-top: 10px;
        margin-inline: auto;
    }
}

/* Max width of table for large screens */
@media screen and (min-width: 600px){
/* default width */
    .wrapper{
        width: min(1600px, 100% - 3rem);
        height: min(100px, 100% - 3rem);
        margin-top: 10px;
        margin-inline: auto;
    }
}


.table{
    width: 2000px; /* 140px * 5 column + 16px scrollbar width */
    border-spacing: 0;
    padding: 5px 20px;
  
}
.firstCol{
    padding-left: 85px;
}
.secondCol{
    padding-right: 0px;
    padding-left: 35px;
}
.thirdCol{
    padding-right: 160px;
    padding-left: 23px;
}
.fourthCol{
    padding-right: 205px;
}
.fifthCol{
    padding-right: 110px;
}
tbody, thead tr{
    display: block;
}

@media screen and (min-height: 800px){
    tbody {
        height: 580px;
    }
}

@media screen and (min-height: 1000px){
    tbody {
        height: 700px;     
    }
}

@media screen and (min-height: 1200px){
    tbody {
        height: 833px;     
    }
}

tbody {
    background-color: #ffffff96;
    overflow-y: auto;
    overflow-x: hidden;
    font-weight: bold;
    font-size: 22px;
    color: #2c5172;
}

thead{
    background-color:#355c7d;
    width: 565px;
    padding: 1rem;
    text-align: left;
    font-size: 22px; 
} 

th{
    background-color:#355c7d;
    width: 565px;
    padding: 1rem;
    text-align: left;
    font-size: 22px; 
}

tr{
    border-width: 1;
    border-bottom: #2c5172;
    border-left-width: 0;
    border-right-width: 0;
}
tr:nth-child(even) {
    background-color:rgb(255 255 255 / 48%);
}

tbody td{
    /* display: inline;  */
    padding: 1rem; 
    width: 1000px;
    text-align: center;
    padding-top: 24px;
}


thead th:last-child {
    
    width: 156px; /* 140px + 16px scrollbar width */
}

.btn-primary{
    --bs-btn-bg: #f8b195bd;
    --bs-btn-color: #2e201c;
    --bs-btn-border-color: #F8B195;
    --bs-btn-hover-bg: #8e6656c7;
    --bs-btn-hover-border-color: #8e665682;
    margin-right: 13px;
    --bs-btn-font-weight: bold;
    --bs-btn-active-bg: #F8B195;
    --bs-btn-active-border-color: #F8B195;
}
.btn-outline-secondary{
    --bs-btn-font-weight: bold; 
}

.btn-danger{
    --bs-btn-color: #2e201c;
    --bs-btn-bg: #e7e7e7;
    --bs-btn-border-color: #2e201c66;
    --bs-btn-hover-color: #2e201c;
    --bs-btn-hover-bg: #ffffffad;
    --bs-btn-hover-border-color: #5e3b2dde;
    --bs-btn-font-weight: bold;
}

.btn:hover{
    text-decoration: underline;
}

/* End of table formatting */


body {
    background-image: url('../images/contactsbg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    overflow: hidden;
}

/* The popup form - hidden by default */
.form-popup {
    position: fixed;
    display: none;
    border: 3px solid #f1f1f1;
}

