/* Start of Navigation bar */
.topnav {
  background-color: #F8B195;
  overflow: auto;
  width: 100%;
}

.nav-button {
  float: right;
  border-radius: 17px;
  text-transform: uppercase;
  background: #8e6656;
  box-shadow: 0 0 25px 0 rgba(137, 114, 97, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: 180px;
  height: 55px;
  padding: 15px;
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  text-align: center;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-right: 18px;
  margin-top: 10px;
  border: 0;
}

.nav-button:hover {
  background: #f2f2f2;
  color: black;
  text-decoration: underline;
}

.page-header {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 45px;
  margin:10px;
}
/* End of navigation bar */


/* box around signup */
#signup-box {
  margin: auto;
  border: 1px solid black;
  box-shadow: 0 0 25px 0 rgba(137, 114, 97, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  top: 25px;
  position: relative;
  padding: 20px;
  width: 300px;
  height: 600px;
  
  
}  

/*Start of signup form */
.form {
  border-radius: 17px;
  position: relative;  
  max-width: 400px;
  margin: 0 auto 100px;
  top: -110px;
  padding: 45px;
  text-align: center;
  border: 2px;
  overflow: hidden;
  border-color: black;
  height: 360px;
  transition: .6s;

}

.header{
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif ; 
  margin-top: 20px;
  margin-bottom: 30px; 
}

.floating-label {
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;    
}

input:focus {
  border: 5px solid #555;
} 

.inputText {
  border-radius: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  background: #f2f2f2;
  width: 100%;
  height: 55px;
  margin: 0 0 15px;
  margin-bottom: 18px;
  margin-top: 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  text-decoration: solid; 
  position: relative;
}

.submit-btn:hover {
  background: #feb599;
}

.submit-btn {
  float: right;
  border-radius: 17px;
  text-transform: uppercase;
  background: #8e6656;
  box-shadow: 0 0 25px 0 rgba(137, 114, 97, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: 50%;
  height: 55px;
  padding: 15px;
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 16px;
  border: 0;
}

.text {
  margin-top: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
/* End of form */


/* background */
body {
background-image: url('../images/background.jpg');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
margin: 0;
overflow: hidden;
}


