table,
td {
    border-collapse: collapse;
    text-align: center;
    border-bottom: 1px solid beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1300px;
    padding: 20px 20px;
    border-left: hidden;
    color: #355c7d;
    margin-left: auto;
    margin-right: auto;
}

thead,
tfoot {
    background-color: #f67280;
    color: black;
    font-size: 16px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-bottom: hidden;
}

/* Add a brown background color to the top navigation */
.topnav {
    background-color: #355c7d;
    overflow: auto;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: 6A2F00;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
     background-color: #ddd;
     color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
      background-color: #B6410F;
      color: white;
}

.button {
    background-color: #f67280;
    color: beige;
    border: none;
    text-align: center;
    float: right;
    padding: 15px 60px;
    margin: 11px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rounded-corners {
    border-radius: 20px;
}

.header {
    padding: 60px;
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.page-header {
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
}

.upper-table-header {
    text-align: center;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #355c7d;
}

.searchnav {
    overflow: hidden;
    background-color: #f8b195;
    width: 100%;
    padding: 1px 650px;
    margin: 70px 5px;
    border-radius: 50px;

}

.searchnav input[type=text] {
    float: unset;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

body {
    background-image: url('../images/contactsbg.jpg');
}
