/* login form */
.form {
    border-radius: 17px;
    position: relative;  
    max-width: 400px;
    margin: 0 auto 100px;
    top: -110px;
    padding: 45px;
    text-align: center;
    border: 2px;
    overflow: hidden;
    border-color: black;
    height: 360px;
    transition: .6s;

}

/* box around login */
#login {
      
      
      margin: auto;
      top: 25px;
      position: relative;
      padding: 20px;
      width: 280px;
      height: 400px;
      
      
  }

  #inputBox {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  #inputBox:focus {
    border: 3px solid #555;
  }

  .input-field {
    border-radius: 17px;
    font-family: 'Montserrat';
    outline: 0;
    background: #f2f2f2;
    border: 2px solid black;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
}

  #button {
    border-radius: 25px solid black;
    margin-top: 25px;
    font-size: large;
  }

  h1 {
    text-align: center;
    font-family: an ;
  }

  /* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(20, 33, 44, 0.9);
  overflow: hidden;
  margin-bottom: 5cqmin;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #00ffffbd;
  color: white;
}

body {
  background-image: url('../images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  overflow: hidden;
}

