/* box around login */
#rcorners {
    border: 1px solid black;
    margin: auto;
    position: relative;
    padding: 20px;
    width: 280px;
    height: 400px;
    box-shadow: 0 0 25px 0 rgba(137, 114, 97, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  #inputBox {
    width: 280px;
    height: 35px;
    margin-bottom: 10px;
    position: relative;
  }

  #button {
    border-radius: 25px solid black;
    margin-top: 25px;
    font-size: large;
  }

  h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }

  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 5cqmin;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #00ffffbd;
  color: white;
}