/* login form */
.form {
  border-radius: 17px;
  position: relative;  
  max-width: 400px;
  margin: 0 auto 100px;
  top: -110px;
  padding: 45px;
  text-align: center;
  border: 2px;
  overflow: hidden;
  border-color: black;
  height: 360px;
  transition: .6s;

}

/* box around login */
#login {
    margin: auto;
    border: 1px solid black;
    box-shadow: 0 0 25px 0 rgba(137, 114, 97, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    top: 25px;
    position: relative;
    padding: 20px;
    width: 280px;
    height: 400px;
    
    
}

#inputBox {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#inputBox:focus {
  border: 3px solid #555;
}

.input-field {
  border-radius: 17px;
  font-family: 'Montserrat';
  outline: 0;
  background: #f2f2f2;
  border: 2px solid black;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
}

.submit-btn {
border-radius: 17px;
font-family: 'Montserrat';
text-transform: uppercase;
outline: 0;
background: #8e6656;
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
cursor: pointer;
}

#button {
  border-radius: 25px solid black;
  margin-top: 25px;
  font-size: large;
}

h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

/* Add a brown background color to the top navigation */
.topnav {
background-color: #F8B195;
overflow: auto;
width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
float: right;
color: 6A2F00;
text-align: center;
padding: 14px 30px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
 background-color: #ddd;
 color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #B6410F;
  color: white;
}

.button {
background-color: #8e6656;
color: beige;
border: none;
text-align: center;
float: right;
padding: 15px 60px;
margin: 11px 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rounded-corners {
border-radius: 20px;
}

.header {
padding: 60px;
text-align: left;
background: #1abc9c;
color: white;
font-size: 30px;
}

.page-header {
color: beige;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-left: 30px;
}

body {
background-image: url('../images/background.jpg');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
margin: 0;
overflow: hidden;
}


